<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ConsoleWriteLinePath" value="C:\Qbei_Uriage\ConsoleWriteLineTofile\"/>
    <add key="AWSAccessKey" value="AKIAJR6FU2TFJHVWEY6Q"/>
    <add key="AWSSecretKey" value="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"/>

    <!--remark Add Logic for Download File at FTP Server-->
    <add key="FTP_Host" value="ftp://ftp-t1-1.suruzo.biz/s3/"/>
    <add key="Username" value="ftp-sks"/>
    <add key="Password" value="lMnx5L2S"/>
    <add key="LocalFilePath" value="C:\Qbei_Uriage\UpdateData\"/>
   <add key="LocalFileCopyPath" value="C:\Qbei_Uriage\csv_BackUp\"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Qbei_Uriage" connectionString="Data Source=DESKTOP-5B8MLGG;Initial Catalog=Qbei_Uriage;User ID=sa;Password=12345;Connection Timeout=300;" providerName="System.Data.SqlClient" />-->
    <add name="Qbei_Uriage" connectionString="Data Source=133.167.121.63, 1433;Initial Catalog=Qbei_Uriage;Persist Security Info=True;User ID=sa;Password=manager@0;Connection Timeout=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>