USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[InserXML_Transaction]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[InserXML_Transaction]
GO
/****** Object:  StoredProcedure [dbo].[InserXML_Transaction]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InserXML_Transaction]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

END

GO
