USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[InsuranceMaster]    Script Date: 2/20/2019 12:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceMaster](
	[InsuranceID] [int] IDENTITY(1,1) NOT NULL,
	[AccountTitle] [nvarchar](200) NOT NULL,
	[Percent] [decimal](5, 2) NOT NULL,
	[Expire_SDate] [date] NOT NULL,
	[Expire_EDate] [date] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [nchar](50) NULL,
	[ModifiedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_InsuranceMaster] PRIMARY KEY CLUSTERED 
(
	[InsuranceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InsuranceMaster] ON 

INSERT [dbo].[InsuranceMaster] ([InsuranceID], [AccountTitle], [Percent], [Expire_SDate], [Expire_EDate], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (1, N'法定福利費', CAST(0.15 AS Decimal(5, 2)), CAST(N'2018-06-06' AS Date), NULL, 0, N'1                                                 ', NULL)
SET IDENTITY_INSERT [dbo].[InsuranceMaster] OFF
ALTER TABLE [dbo].[InsuranceMaster] ADD  CONSTRAINT [DF_InsuranceMaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
