USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[WorkingDaysMaster_Delete]    Script Date: 2/20/2019 11:34:38 AM ******/
DROP PROCEDURE [dbo].[WorkingDaysMaster_Delete]
GO
/****** Object:  StoredProcedure [dbo].[WorkingDaysMaster_Delete]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[WorkingDaysMaster_Delete]
	-- Add the parameters for the stored procedure here
	@WorkingDaysID AS INT	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Kintai.dbo.M_WorkingDays
	SET IsDeleted = 1,
	ModifiedDate = GETDATE ()		
	WHERE (@WorkingDaysID IS NULL OR (WorkingDays_ID = @WorkingDaysID))

END
GO
