USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage8c]    Script Date: 2/20/2019 11:34:38 AM ******/
DROP PROCEDURE [dbo].[Stage8c]
GO
/****** Object:  StoredProcedure [dbo].[Stage8c]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage8c] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    UPDATE Uriage
    SET SalesCategory1 = N'修理・工賃',SalesCategory2 = N'修理・工賃'
	WHERE Site_Category_URL LIKE 'maintenance%' 
	
END

GO
