USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Branch_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Branch_Search]
GO
/****** Object:  StoredProcedure [dbo].[Branch_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Branch_Search]
		-- Add the parameters for the stored procedure here
	
	@BranchCode int,
	@BranchName nvarchar(100),
	@BrandShortName  nvarchar(30),
	@SotreCategory  nvarchar(30),
	@Summary  nvarchar(30)
AS
BEGIN
	
  SELECT *FROM Branch 
  where 
  (@BranchCode IS  NULL OR (BranchCode LIKE +'%'+ CAST(@BranchCode AS NVARCHAR) + '%'))
   AND (@BranchName IS  NULL OR (BranchName LIKE '%'+@BranchName + '%'))
   AND (@BrandShortName IS  NULL OR (BrandShortName LIKE '%'+@BrandShortName + '%'))
   AND (@SotreCategory IS  NULL OR (StoreCategory LIKE '%'+@SotreCategory + '%'))
   AND (@BrandShortName IS  NULL OR (BrandShortName LIKE '%'+@BrandShortName + '%'))
   AND (@Summary IS  NULL OR (Summary LIKE '%'+@Summary + '%'))
     
 
END
GO
