USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Item_SelectAll]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Item_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[Item_SelectAll]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Item_SelectAll] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from Item 
END

GO
