USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[WorkingDaysMaster_Select]    Script Date: 2/20/2019 11:34:38 AM ******/
DROP PROCEDURE [dbo].[WorkingDaysMaster_Select]
GO
/****** Object:  StoredProcedure [dbo].[WorkingDaysMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[WorkingDaysMaster_Select]
	-- Add the parameters for the stored procedure here
	@WorkingDaysID As int,
	@YM As nvarchar(6),
	@ShopName As nvarchar(300),
	@WorkingDays AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT WorkingDays_ID,YearMonth,ShopName,WorkingDays		
	FROM Kintai.dbo.M_WorkingDays	
	WHERE (@WorkingDaysID IS NULL OR (WorkingDays_ID=@WorkingDaysID))
	AND (@YM IS NULL OR (YearMonth LIKE '%'+ @YM +'%'))
	AND	  (@ShopName IS NULL OR (ShopName LIKE '%' + @ShopName + '%'))
	AND	  (@WorkingDays IS NULL OR (WorkingDays = @WorkingDays))
	AND	  IsDeleted=0
END
GO
