USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Initial_Sale_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Initial_Sale_Select]
GO
/****** Object:  StoredProcedure [dbo].[Initial_Sale_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Initial_Sale_Select]
AS
BEGIN
	SELECT * FROM T_SALE WHERE CostType = 'Variable'
END
GO
