USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[FixedCostMaster]    Script Date: 2/20/2019 12:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FixedCostMaster](
	[FixedCostID] [int] IDENTITY(1,1) NOT NULL,
	[AccountTitle] [nvarchar](200) NOT NULL,
	[ShopCategory] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_FixedCostMaster] PRIMARY KEY CLUSTERED 
(
	[FixedCostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FixedCostMaster] ON 

INSERT [dbo].[FixedCostMaster] ([FixedCostID], [AccountTitle], [ShopCategory], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (1, N'支払利息', N'ネット', 0, 1, NULL)
INSERT [dbo].[FixedCostMaster] ([FixedCostID], [AccountTitle], [ShopCategory], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (2, N'貸倒引当金繰入額', N'ネット', 0, 1, NULL)
INSERT [dbo].[FixedCostMaster] ([FixedCostID], [AccountTitle], [ShopCategory], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (3, N'全社費用調整勘定', N'ネット', 0, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[FixedCostMaster] OFF
ALTER TABLE [dbo].[FixedCostMaster] ADD  CONSTRAINT [DF_FixedCostMaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
