USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[InsertXMLCategory_Honten]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[InsertXMLCategory_Honten]
GO
/****** Object:  StoredProcedure [dbo].[InsertXMLCategory_Honten]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertXMLCategory_Honten]
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @DocHandle int
	
	TRUNCATE TABLE Category_Honten
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (category_ids varchar(30),site_category_url nvarchar(400))
    EXEC sp_xml_preparedocument @DocHandle OUTPUT

    INSERT INTO Category_Honten(Category_ID,Site_Category_URL) 
	SELECT category_ids,site_category_url FROM #temp
    EXEC sp_xml_removedocument @DocHandle
  	
  	DROP TABLE #temp
 END

GO
