USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[UserSave]    Script Date: 2/20/2019 11:34:38 AM ******/
DROP PROCEDURE [dbo].[UserSave]
GO
/****** Object:  StoredProcedure [dbo].[UserSave]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UserSave]
	-- Add the parameters for the stored procedure here
	@UserName VARCHAR(20),
	@Password VARCHAR(8),
	@ModifiedDate  datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Qbei_User (UserName ,Password ,Modified_Date) 
    VALUES(@UserName ,@Password,@ModifiedDate)
END

GO
