USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[SalesCommission_Insert]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[SalesCommission_Insert]
GO
/****** Object:  StoredProcedure [dbo].[SalesCommission_Insert]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SalesCommission_Insert]
	-- Add the parameters for the stored procedure here
	@AccountTitle As nvarchar(200),
	@ShopCode As int,
	@Percent As decimal(5, 2),
	@Expire_EDate AS DATE,
	@Expire_SDate AS DATE,	
    @CreatedBy As nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO SalesCommissionMaster(AccountTitle,ShopCode,[Percent],Expire_SDate,Expire_EDate,IsDeleted,CreatedBy)
	VALUES (@AccountTitle,@ShopCode,@Percent,@Expire_SDate,@Expire_EDate,'false',@CreatedBy)
END
GO
