USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[UriageData]    Script Date: 2/20/2019 12:19:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UriageData](
	[ID] [int] NOT NULL,
	[Sales_Date] [date] NULL,
	[OrderNo] [varchar](30) NULL,
	[ShippingCost] [int] NULL,
	[ConsumptionTax] [int] NULL,
	[TotalAmount] [int] NULL,
	[Cod] [int] NULL,
	[UsagePoint] [int] NULL,
	[AdditionalPoint] [int] NULL,
 CONSTRAINT [PK_UriageData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
