USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_User_Edit]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Qbei_User_Edit]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_User_Edit]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_User_Edit] 
	-- Add the parameters for the stored procedure here
	@ID int ,
	@UserName VARCHAR(20),
	@Password VARCHAR(8),
	@ModifiedDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Qbei_User
	WHERE 
	Qbei_User.Qbei_User_ID = @ID or @ID is Null and
	 (@UserName IS NULL OR (UserName = @UserName))
	AND (@Password IS NULL OR (Password = @Password))
	AND (@ModifiedDate IS NULL OR (Modified_Date = @ModifiedDate)) and Qbei_User.Flag <>1
END

GO
