USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 2/20/2019 12:19:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandCode] [int] NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
	[BrandUrl] [varchar](100) NULL,
	[Modified_Date] [datetime] NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brand] ADD  CONSTRAINT [DF_Brand_Modified_Date]  DEFAULT (getdate()) FOR [Modified_Date]
GO
