USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[CheckExist]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[CheckExist]
GO
/****** Object:  StoredProcedure [dbo].[CheckExist]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CheckExist]
	-- Add the parameters for the stored procedure here
	@Username as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from Qbei_User where Qbei_User.UserName = @Username and Qbei_User.Flag <>1
END
GO
