USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_UserUpdate_by]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Qbei_UserUpdate_by]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_UserUpdate_by]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_UserUpdate_by]
	-- Add the parameters for the stored procedure here
	@UserID int,
	@UserName VARCHAR(20),
	@Password VARCHAR(8),
	@Updatedby varchar(20)
	--@ModifiedDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		--UPDATE [Qbei_User]  SET Password = @password ,UserName  = @UserName,Modified_Date= @ModifiedDate 
  --     WHERE Qbei_User_ID = @UserID and Qbei_User.Flag <>1

  Update [User_Management].dbo.Common_User set  UID= @UserName , Password= @Password, Updated_By= @Updatedby, Modified_Date=GETDATE() where ID=@UserID
       
       
END

GO
