USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Sale_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Sale_Select]
GO
/****** Object:  StoredProcedure [dbo].[Sale_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sale_Select]
AS
BEGIN
	SELECT MIN(SaleDate) StartDt,MAX(SaleDate) EndDt
	FROM T_Sale 
	WHERE FinFlag = 0 
	AND SaleDate >= DATEADD(MONTH,DATEDIFF(MONTH,0,GETDATE())-2,0) 
	AND SaleDate <= GETDATE()
END

GO
