USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage2]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Stage2]
GO
/****** Object:  StoredProcedure [dbo].[Stage2]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage2]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;
delete from UriageMeisai 

insert into UriageMeisai(ID, Sales_Date, OrderNo, PartNo, UnitPrice, Quantity, Cost, Amount, Coupon, Discount, ReturnFees, 
                                      BranchName, CategoryID, CategoryName, Site_Category_URL, BrandCode, BrandUrl, BranchCode, SalesCategory1, 
                                      SalesCategory2, DeliveryCharge, Cancel_Date, Modified_Date, SalesCategory, AverageCost, PurchaseCost, 
                                      PaymentCode, ShippingCode, DeliveryCode, Date)
									  select ID, Sales_Date, OrderNo, PartNo, UnitPrice, Quantity, Cost, Amount, Coupon, Discount, ReturnFees, 
                                      BranchName, CategoryID, CategoryName, Site_Category_URL, BrandCode, BrandUrl, BranchCode, SalesCategory1, 
                                      SalesCategory2, DeliveryCharge, Cancel_Date, Modified_Date, SalesCategory, AverageCost, PurchaseCost, 
                                      PaymentCode, ShippingCode, DeliveryCode, Date
									  from ItemMaster

delete from UriageData

insert into UriageData( ID, Sales_Date, OrderNo, ShippingCost, ConsumptionTax, TotalAmount, Cod, UsagePoint, 
                                      AdditionalPoint)
									  select  ID, Sales_Date, OrderNo, ShippingCost, ConsumptionTax, TotalAmount, Cod, UsagePoint, 
                                      AdditionalPoint
									  from ItemMaster

									  delete from UriageData where TotalAmount is null
	--Delete from dbo.ItemMaster where TotalAmount = NULL

END

GO
