USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[CommercialTaxMaster]    Script Date: 2/20/2019 12:15:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommercialTaxMaster](
	[CommercialTaxID] [int] IDENTITY(1,1) NOT NULL,
	[AccountTitle] [nvarchar](200) NOT NULL,
	[ShopSectionCode] [int] NOT NULL,
	[UnitPrice] [int] NULL,
	[Percent] [decimal](5, 4) NULL,
	[Expire_SDate] [date] NOT NULL,
	[Expire_EDate] [date] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[ModifiedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_CommercialTaxMaster] PRIMARY KEY CLUSTERED 
(
	[CommercialTaxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CommercialTaxMaster] ON 

INSERT [dbo].[CommercialTaxMaster] ([CommercialTaxID], [AccountTitle], [ShopSectionCode], [UnitPrice], [Percent], [Expire_SDate], [Expire_EDate], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (1, N'決済手数料（課税）', 1, 500, CAST(0.0000 AS Decimal(5, 4)), CAST(N'2015-01-01' AS Date), NULL, 0, NULL, NULL)
INSERT [dbo].[CommercialTaxMaster] ([CommercialTaxID], [AccountTitle], [ShopSectionCode], [UnitPrice], [Percent], [Expire_SDate], [Expire_EDate], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (2, N'カード手数料（非課税）', 2, 0, CAST(0.0300 AS Decimal(5, 4)), CAST(N'2015-01-01' AS Date), NULL, 0, NULL, NULL)
INSERT [dbo].[CommercialTaxMaster] ([CommercialTaxID], [AccountTitle], [ShopSectionCode], [UnitPrice], [Percent], [Expire_SDate], [Expire_EDate], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (3, N'決済手数料（課税）', 4, 200, CAST(0.0000 AS Decimal(5, 4)), CAST(N'2015-01-01' AS Date), NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CommercialTaxMaster] OFF
ALTER TABLE [dbo].[CommercialTaxMaster] ADD  CONSTRAINT [DF_CommercialTaxMaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
