USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[SalesCommission_Delete]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[SalesCommission_Delete]
GO
/****** Object:  StoredProcedure [dbo].[SalesCommission_Delete]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SalesCommission_Delete]
	-- Add the parameters for the stored procedure here
	@SalesCommissionID  int,
	@ModifiedBy NVARCHAR(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		--DELETE  from SalesCommissionMaster where SalesCommissionID=@SalesCommissionID
		UPDATE SalesCommissionMaster
	
	SET IsDeleted = 1,
		ModifiedBy=@ModifiedBy
		
	WHERE SalesCommissionID=@SalesCommissionID

       
END
GO
