USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[PlaningData_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[PlaningData_Select]
GO
/****** Object:  StoredProcedure [dbo].[PlaningData_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[PlaningData_Select]
	-- Add the parameters for the stored procedure here
	@StartDate AS DATE,	
	@EndDate AS DATE,
	@AccTitle AS NVARCHAR(200),
	@Amount AS DECIMAL(18,5),	
	@ShopCategory AS NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT T.SaleDate,FM.AccountTitle,T.Amount,T.Category	
	FROM T_Sale AS T
	LEFT JOIN FixedCostMaster AS FM
	ON T.FixedCostID = FM.FixedCostID
	WHERE (@StartDate IS NULL OR (@StartDate = '') OR (T.SaleDate>=@StartDate))
	AND (@EndDate IS NULL OR (@EndDate = '') OR (T.SaleDate <= @EndDate))
	AND (@AccTitle IS NULL OR (@AccTitle = '') OR (FM.AccountTitle LIKE '%' + @AccTitle+ '%'))
	AND (@Amount IS NULL OR (T.Amount = @Amount))
	AND (@ShopCategory IS NULL OR (@ShopCategory = '') OR (T.Category LIKE '%'+ @ShopCategory +'%'))
	AND	  FinFlag = 0
	AND CostType = 'Fixed'
	ORDER BY T.SaleDate,T.Category
END
GO
