USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[ItemMaster_SelectAll]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[ItemMaster_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[ItemMaster_SelectAll]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ItemMaster_SelectAll] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	








      SELECT  ItemMaster.Sales_Date,ItemMaster.Cancel_Date,ItemMaster.OrderNo,ItemMaster.PartNo,ItemMaster.UnitPrice,ItemMaster.Quantity,ItemMaster.Cost,ItemMaster.Amount,ItemMaster.ShippingCost,ItemMaster.BranchCode,ItemMaster.DeliveryCharge, ItemMaster.UsagePoint, ItemMaster.Coupon,ItemMaster.Discount,ItemMaster.Modified_Date  from ItemMaster 
END

GO
