USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[UriageMeisai]    Script Date: 2/20/2019 12:19:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UriageMeisai](
	[ID] [int] NOT NULL,
	[Sales_Date] [date] NULL,
	[OrderNo] [varchar](30) NULL,
	[PartNo] [varchar](30) NULL,
	[UnitPrice] [int] NULL,
	[Quantity] [int] NULL,
	[Cost] [int] NULL,
	[Amount] [int] NULL,
	[Coupon] [int] NULL,
	[Discount] [int] NULL,
	[ReturnFees] [int] NULL,
	[BranchName] [nvarchar](1000) NULL,
	[CategoryID] [varchar](30) NULL,
	[CategoryName] [nvarchar](100) NULL,
	[Site_Category_URL] [nvarchar](400) NULL,
	[BrandCode] [int] NULL,
	[BrandUrl] [varchar](100) NULL,
	[BranchCode] [varchar](10) NULL,
	[SalesCategory1] [nvarchar](100) NULL,
	[SalesCategory2] [nvarchar](100) NULL,
	[DeliveryCharge] [int] NULL,
	[Cancel_Date] [date] NULL,
	[Modified_Date] [datetime] NULL,
	[SalesCategory] [nvarchar](100) NULL,
	[AverageCost] [int] NULL,
	[PurchaseCost] [int] NULL,
	[PaymentCode] [int] NULL,
	[ShippingCode] [int] NULL,
	[DeliveryCode] [int] NULL,
	[Date] [int] NULL,
 CONSTRAINT [PK_UriageMeisai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UriageMeisai] ADD  CONSTRAINT [DF_UriageMeisai_Modified_Date]  DEFAULT (getdate()) FOR [Modified_Date]
GO
