USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_Item]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[InsertXML_Item]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_Item]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertXML_Item] 
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--TRUNCATE TABLE Item
    -- Insert statements for procedure here
	DECLARE @DocHandle int
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (自社品番 varchar(50),商品名略称 nvarchar(50),ブランド varchar(50),商品カテゴリ varchar(30),サイトカテゴリ1 varchar(50))
    EXEC sp_xml_preparedocument @DocHandle OUTPUT 
    
    UPDATE #temp 
	SET 自社品番 = REPLACE(自社品番,'''','') ,商品名略称 = REPLACE(商品名略称,'''','') ,ブランド = REPLACE(ブランド,'''',''),商品カテゴリ = REPLACE(商品カテゴリ,'''',''),サイトカテゴリ1 = REPLACE(サイトカテゴリ1,'''','')
	
    INSERT INTO Item(PartNo,Productname,BrandCode,CategoryID,Honten_Category_ID)
	SELECT 自社品番,商品名略称,ブランド,商品カテゴリ,サイトカテゴリ1 FROM #temp
    EXEC sp_xml_removedocument @DocHandle
  	
  	DROP TABLE #temp
END

GO
