USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[PackingFareMaster_Insert]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[PackingFareMaster_Insert]
GO
/****** Object:  StoredProcedure [dbo].[PackingFareMaster_Insert]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PackingFareMaster_Insert]
	-- Add the parameters for the stored procedure here
	--@ID AS INT,
	@AccountTitle AS NVARCHAR(200),
	@OrderType AS BIT,
	@DeliveryCompanyCode AS INT,
	@RegionCode AS INT,
	@UnitPrice AS INT,
	@Expire_EDate AS DATE,
	@Expire_SDate AS DATE,
	@CreatedBy AS nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO PackingFareMaster 
	(AccountTitle
	,OrderType
	,DeliveryCompanyCode
	,RegionCode
	,UnitPrice
	,Expire_SDate
	,Expire_EDate
	 ,CreatedBy)
	VALUES (@AccountTitle
			,@OrderType
			,@DeliveryCompanyCode
			,@RegionCode
			,@UnitPrice
			,@Expire_SDate
			,@Expire_EDate
			,@CreatedBy)
END
GO
