USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[DocumentUnit_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[DocumentUnit_Search]
GO
/****** Object:  StoredProcedure [dbo].[DocumentUnit_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DocumentUnit_Search]
		-- Add the parameters for the stored procedure here
	
	@SaleDate date,
	@OrderNo varchar(20),
	@ShippingCost  int,
	@ConsumptionTax  int,
	@TotalAmount  int,
	@BranchName  nvarchar(100),
	@Cod int,
	@UsagePoint  int,
	@AdditionalPoint int
AS
BEGIN
	
  SELECT T1.*, T2.BranchName 
  FROM UriageData T1 LEFT JOIN ItemMaster T2
  ON T1.ID = T2.ID
  AND T1.Sales_Date = T2.Sales_Date
  AND T1.OrderNo = T2.OrderNo
  WHERE
  (@SaleDate IS  NULL OR (CONVERT(char(10), T1.Sales_Date, 126) = @SaleDate))
   AND (@OrderNo IS  NULL OR (T1.OrderNo LIKE '%'+@OrderNo + '%'))
   AND (@ShippingCost IS  NULL OR (T1.ShippingCost LIKE +'%'+ CAST(@ShippingCost AS NVARCHAR) + '%'))
   AND (@ConsumptionTax IS  NULL OR (T1.ConsumptionTax  LIKE +'%'+ CAST(@ConsumptionTax AS NVARCHAR) + '%'))
   AND (@TotalAmount IS  NULL OR (T1.TotalAmount LIKE +'%'+ CAST(@TotalAmount AS NVARCHAR) + '%'))
   AND (@BranchName IS  NULL OR (T2.BranchName LIKE '%'+ @BranchName  + '%'))
   AND (@Cod IS  NULL OR (T1.Cod LIKE +'%'+ CAST(@Cod AS NVARCHAR) + '%'))
   AND (@UsagePoint IS  NULL OR (T1.UsagePoint LIKE +'%'+ CAST(@UsagePoint AS NVARCHAR) + '%'))
   AND (@AdditionalPoint IS  NULL OR (T1.AdditionalPoint LIKE +'%'+ CAST(@AdditionalPoint AS NVARCHAR) + '%'))
     
END
GO
