USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[Qbei_User]    Script Date: 2/20/2019 12:15:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qbei_User](
	[Qbei_User_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NULL,
	[Password] [varchar](8) NULL,
	[Modified_Date] [datetime] NULL,
	[Flag] [tinyint] NOT NULL,
 CONSTRAINT [PK_Qbei_User] PRIMARY KEY CLUSTERED 
(
	[Qbei_User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Qbei_User] ON 

INSERT [dbo].[Qbei_User] ([Qbei_User_ID], [UserName], [Password], [Modified_Date], [Flag]) VALUES (1, N'Ptk', N'12345', CAST(N'2018-08-08T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Qbei_User] ([Qbei_User_ID], [UserName], [Password], [Modified_Date], [Flag]) VALUES (6, N'ktp', N'12345', CAST(N'2018-08-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Qbei_User] ([Qbei_User_ID], [UserName], [Password], [Modified_Date], [Flag]) VALUES (7, N'3', N'3', CAST(N'2018-08-31T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Qbei_User] OFF
ALTER TABLE [dbo].[Qbei_User] ADD  CONSTRAINT [DF_Qbei_User_Modified_Date]  DEFAULT (getdate()) FOR [Modified_Date]
GO
ALTER TABLE [dbo].[Qbei_User] ADD  CONSTRAINT [DF_Qbei_User_Flag]  DEFAULT ((0)) FOR [Flag]
GO
