USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[Category_Honten]    Script Date: 2/20/2019 12:19:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Honten](
	[Category_ID] [varchar](30) NOT NULL,
	[Site_Category_URL] [nvarchar](400) NULL,
	[Modified_Date] [date] NULL,
 CONSTRAINT [PK_Category_Honten] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category_Honten] ADD  CONSTRAINT [DF_Category_Honten_Modified_Date]  DEFAULT (getdate()) FOR [Modified_Date]
GO
