USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[CommercialTax_Insert]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[CommercialTax_Insert]
GO
/****** Object:  StoredProcedure [dbo].[CommercialTax_Insert]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CommercialTax_Insert]
	-- Add the parameters for the stored procedure here
	@AccountTitle As nvarchar(200),
	@ShopSectionCode As int,
	@UnitPrice As int,
	@Percent As decimal(5, 2),
	@Expire_SDate As Date,
	@Expire_EDate As Date,
	@CreatedBy AS nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO CommercialTaxMaster(AccountTitle,ShopSectionCode,UnitPrice,[Percent],Expire_SDate,Expire_EDate,CreatedBy)
	VALUES (@AccountTitle,@ShopSectionCode,@UnitPrice,@Percent,@Expire_SDate,@Expire_EDate,@CreatedBy)
END
GO
