USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_Brand]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[InsertXML_Brand]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_Brand]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertXML_Brand]
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @DocHandle int
	
	TRUNCATE TABLE Brand
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (ブランドコード int,表示名称 nvarchar(100),URL varchar(100))
    EXEC sp_xml_preparedocument @DocHandle OUTPUT

    INSERT INTO Brand(BrandCode,BrandName,BrandUrl) 
	SELECT ブランドコード,表示名称,URL FROM #temp
    EXEC sp_xml_removedocument @DocHandle
  	
  	DROP TABLE #temp
END

GO
