USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_User_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Qbei_User_Select]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_User_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_User_Select] 
	-- Add the parameters for the stored procedure here
	@UserName VARCHAR(20),
	@Password VARCHAR(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Qbei_user_id,UserName,Password from Qbei_User where 
	(@UserName IS NULL OR (UserName = @UserName))
	AND (@Password IS NULL OR (Password = @Password)) and Qbei_User.Flag <>1
END

GO
