USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Uriage_GetItemMaster]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Qbei_Uriage_GetItemMaster]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_Uriage_GetItemMaster]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_Uriage_GetItemMaster]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    Delete ItemMaster
    where Sales_Date is NULL OR Sales_Date = ''
    
    Delete ItemMaster
    where Cancel_Date is NOT NULL 
    
    insert into DetailItemUnit(Sales_Date,OrderNo,PartNo,UnitPrice,Quantity,Cost,Amount,Coupon,Discount,BranchName)
	select Sales_Date,OrderNo,PartNo,UnitPrice,Quantity,Cost,Amount,Coupon,Discount,BranchName from ItemMaster
	
	;with CTE as
    (
    select OrderNo, Max(Cod) AS Cod,MAX(ID) AS ID
    from ItemMaster
    group by OrderNo
     )    
     
    insert Into DocumentUnit(Sales_Date,OrderNo,ShippingCost,ConsumptionTax,TotalAmount,BranchName,Cod,UsagePoint,AdditionalPoint)
    select Sales_Date,c.OrderNo,ShippingCost,ConsumptionTax,TotalAmount,BranchName,C.Cod,UsagePoint,AdditionalPoint from CTE c inner join ItemMaster im 
    on c.ID = im.ID
    
    Update dbo.DetailItemUnit 
    set Quantity = NULL , Cost = NULL
    where UnitPrice<=0
    
    Update dbo.ItemMaster 
    set Quantity = NULL , Cost = NULL
    where UnitPrice<=0
    
UPDATE ItemMaster
SET CategoryID = I.CategoryID,
BrandCode = I.BrandCode
FROM ItemMaster IM
INNER JOIN Item I ON IM.PartNo = I.PartNo

UPDATE ItemMaster
SET CategoryName = SC.CategoryName
FROM ItemMaster IM
INNER JOIN Site_Category SC ON SC.CategoryID = IM.CategoryID

UPDATE ItemMaster 
SET Site_Category_URL = CH.Site_Category_URL
FROM ItemMaster IM
INNER JOIN Category_Honten CH ON IM.CategoryID= CH.Category_ID

UPDATE ItemMaster
SET BrandUrl = B.BrandUrl
FROM ItemMaster IM
INNER JOIN Brand B ON IM.BrandCode = B.BrandCode

select IM.*,B.* from ItemMaster IM
inner join Branch B ON B.BranchCode = IM.BranchCode

SELECT * INTO #temp FROM
(select OrderNo from ItemMaster where Site_Category_URL like 'pa%')as OrderNo

Update ItemMaster
set SalesCategory1 = N'パーツ（自転車同時購入）' , SalesCategory2 = N'パーツ（自転車同時購入）'
where OrderNo IN(
select IM.OrderNo
from ItemMaster IM inner join #temp t
ON  IM.OrderNo =  t.OrderNo 
where  IM.Site_Category_URL LIKE 'pa%' OR IM.Site_Category_URL LIKE 'bicycle%'  
OR IM.Site_Category_URL LIKE 'citycycle%' OR IM.Site_Category_URL LIKE 'electric%'  
OR IM.Site_Category_URL LIKE 'kids%')

Update ItemMaster
set SalesCategory1 = N'パーツ（単体）', SalesCategory2 = N'パーツ（単体）'
where OrderNo NOT IN(
select IM.OrderNo
from ItemMaster IM inner join #temp t
ON  IM.OrderNo =  t.OrderNo
where IM.Site_Category_URL NOT LIKE 'pa%' AND IM.Site_Category_URL NOT LIKE 'bicycle%' 
AND IM.Site_Category_URL NOT LIKE 'citycycle%' AND IM.Site_Category_URL NOT LIKE 'electric%'  
AND IM.Site_Category_URL NOT LIKE 'kids%' )

Update ItemMaster
set SalesCategory1 = N'自転車'
where Site_Category_URL LIKE 'bicycle%' OR Site_Category_URL LIKE 'citycycle%' OR Site_Category_URL LIKE 'electric%' OR Site_Category_URL LIKE 'kids%'

Update ItemMaster
set SalesCategory2 = N'電動自転車'
where Site_Category_URL LIKE 'electric%'

Update ItemMaster
set SalesCategory2 = N'メーカー車 '
where Site_Category_URL LIKE 'citycycle%'  AND BrandUrl LIKE 'bridgestone%'

Update ItemMaster
set SalesCategory2 = N'一般車'
where Site_Category_URL NOT LIKE 'citycycle%' AND BrandUrl NOT LIKE 'bridgestone%'

Update ItemMaster
set SalesCategory2 = N'子供用自転車'
where Site_Category_URL LIKE 'kids%' OR Site_Category_URL LIKE 'bicycle/kids%'

Update ItemMaster
set SalesCategory2 = N'スポーツ車 '
where Site_Category_URL LIKE 'kids%' OR Site_Category_URL NOT LIKE 'bicycle/kids%'

Update ItemMaster
set SalesCategory1 = N'修理・工賃',SalesCategory2 = N'修理・工賃'
where Site_Category_URL LIKE 'maintenance%' 

Update ItemMaster
set SalesCategory1 = N'オプション'
where Site_Category_URL LIKE 'option%' OR Site_Category_URL LIKE 'service%'

Update ItemMaster
set SalesCategory2 = N'防犯登録'
where Site_Category_URL LIKE 'option/bouhan%' OR Site_Category_URL LIKE 'service/bouhan%'

Update ItemMaster
set SalesCategory2 = N'盗難補償'
where Site_Category_URL LIKE 'option/tounan%' OR Site_Category_URL LIKE 'service/tounan%'

Update ItemMaster
set SalesCategory2 = N'TSマーク'
where Site_Category_URL LIKE 'option/tsmark%' OR Site_Category_URL LIKE 'service/tsmark%'

DROP TABLE #temp
END

GO
