USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Branch_Edit]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Branch_Edit]
GO
/****** Object:  StoredProcedure [dbo].[Branch_Edit]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Branch_Edit] 
	-- Add the parameters for the stored procedure here
	@BranchCode int
	--@BranchName NVARCHAR(100),
	--@BrandShortName  NVARCHAR(30),
	--@SotreCategory   NVARCHAR(30),
	--@Summary   NVARCHAR(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Branch
	WHERE 
	 (@BranchCode IS NULL OR (BranchCode = @BranchCode))
	--AND (@BranchName IS NULL OR (BranchName = @BranchName))
	--AND (@BrandShortName IS NULL OR (BrandShortName = @BrandShortName))
	--AND (@SotreCategory IS NULL OR (SotreCategory = @SotreCategory))
	--AND (@Summary IS NULL OR (Summary = @Summary))
END

GO
