USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage1]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Stage1]
GO
/****** Object:  StoredProcedure [dbo].[Stage1]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage1]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Delete ItemMaster
 --   where Sales_Date IS NULL OR LTRIM(RTRIM(Sales_Date)) = ''
    
 --   Delete ItemMaster
 --   where Cancel_Date IS NOT NULL AND LTRIM(RTRIM(Cancel_Date)) <> ''
    
    Delete ItemMaster
    where SalesCategory IS NULL OR LTRIM(RTRIM(SalesCategory)) = ''
 
    
END

GO
