USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Brand_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Brand_Search]
GO
/****** Object:  StoredProcedure [dbo].[Brand_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Brand_Search]
		-- Add the parameters for the stored procedure here
	@BrandCode int,
	@BrandName nvarchar(100),
	@BrandUrl varchar(100),
	@Modified_Date datetime
AS
BEGIN
	

	
  SELECT * FROM Brand 
  where 
   (@BrandCode IS  NULL OR (BrandCode LIKE +'%'+ CAST(@BrandCode AS NVARCHAR) + '%'))
   AND (@BrandName IS  NULL OR (BrandName LIKE '%' + @BrandName+ '%'))
   AND (@BrandUrl IS  NULL  OR (BrandUrl LIKE '%' + @BrandUrl+ '%'))
   AND  (@Modified_Date IS  NULL  OR (CONVERT(char(10), Modified_Date, 126) = @Modified_Date))
END
GO
