USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 2/20/2019 12:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchCode] [int] NOT NULL,
	[BranchName] [nvarchar](100) NULL,
	[BrandShortName] [nvarchar](30) NULL,
	[StoreCategory] [nvarchar](30) NULL,
	[Summary] [nvarchar](30) NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Branch] ([BranchCode], [BranchName], [BrandShortName], [StoreCategory], [Summary]) VALUES (0, N'', N'', N'', N'')
INSERT [dbo].[Branch] ([BranchCode], [BranchName], [BrandShortName], [StoreCategory], [Summary]) VALUES (2, N'QBEI Yahoo!店', N'Yahooストア', N'モール', N'ネット')
INSERT [dbo].[Branch] ([BranchCode], [BranchName], [BrandShortName], [StoreCategory], [Summary]) VALUES (3, N'自転車のQBEI', N'楽天スポーツ', N'モール', N'ネット')
