USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[OutsourcingMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[OutsourcingMaster_Update]
GO
/****** Object:  StoredProcedure [dbo].[OutsourcingMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[OutsourcingMaster_Update]
	-- Add the parameters for the stored procedure here
	@OutsourcingID AS INT,
	@AccountTitle AS NVARCHAR(200),
	@UnitPrice AS INT,
	@Expire_SDate AS DATE,
	@Expire_EDate AS DATE,
	@ModifiedBy AS NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE OutsourcingMaster
	SET		AccountTitle=@AccountTitle
			,UnitPrice=@UnitPrice
			,Expire_SDate=@Expire_SDate
			,Expire_EDate=@Expire_EDate
			,ModifiedBy = @ModifiedBy
			
	WHERE OutsourcingID=@OutsourcingID
END
GO
