USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[ItemMaster_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[ItemMaster_Search]
GO
/****** Object:  StoredProcedure [dbo].[ItemMaster_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ItemMaster_Search]
		-- Add the parameters for the stored procedure here
	@SaleDateFrom date,
	@SaleDateTo date,
	@CancelDate date,
	@OrderNo varchar(20),
	@PartNo varchar(30),
	@UnitPrice int,
	@Quantity int,
	@Cost int,
	@Amount int,
	@ShippingCost int,
	@BranchCode varchar(10),
	@DeliveryCharge int,
	@UsagePoint int,
	@Coupon int,
	@Discount int,
	@Modified_Date Nvarchar(50)
AS
BEGIN
	
    SELECT ItemMaster.Sales_Date,ItemMaster.Cancel_Date,ItemMaster.OrderNo,ItemMaster.PartNo,ItemMaster.UnitPrice,ItemMaster.Quantity,ItemMaster.Cost,ItemMaster.Amount,ItemMaster.ShippingCost,ItemMaster.BranchCode,ItemMaster.DeliveryCharge, ItemMaster.UsagePoint, ItemMaster.Coupon,ItemMaster.Discount,ItemMaster.Modified_Date  FROM ItemMaster 
  where 
   (@SaleDateFrom IS  NULL OR (Sales_Date >= @SaleDateFrom))
   AND (@SaleDateTo IS  NULL OR (Sales_Date <= @SaleDateTo))
   AND (@CancelDate IS  NULL OR (Cancel_Date LIKE +'%'+ CAST(@CancelDate AS NVARCHAR) + '%'))
   AND (@OrderNo IS NULL OR (OrderNo LIKE '%' +@OrderNo+ '%'))
   AND (@PartNo IS NULL OR (PartNo LIKE '%' +@PartNo+ '%'))
   AND (@UnitPrice IS NULL OR (UnitPrice LIKE +'%'+ CAST(@UnitPrice AS NVARCHAR) + '%'))
   AND (@Quantity IS NULL OR (Quantity LIKE +'%'+ CAST(@Quantity AS NVARCHAR) + '%'))
   AND (@Cost IS NULL OR (Cost LIKE +'%'+ CAST(@Cost AS NVARCHAR) + '%'))
   AND (@Amount IS NULL OR (Amount LIKE +'%'+ CAST(@Amount AS NVARCHAR) + '%'))
   AND (@ShippingCost IS NULL OR (ShippingCost LIKE +'%'+ CAST(@ShippingCost AS NVARCHAR) + '%'))
   AND (@BranchCode IS NULL OR (BranchCode LIKE '%' +@BranchCode+ '%'))
   AND (@DeliveryCharge IS NULL OR (DeliveryCharge LIKE +'%'+ CAST(@DeliveryCharge AS NVARCHAR) + '%'))
   AND (@UsagePoint IS NULL OR (UsagePoint LIKE +'%'+ CAST(@UsagePoint AS NVARCHAR) + '%'))
   AND (@Coupon IS NULL OR (Coupon LIKE +'%'+ CAST(@Coupon AS NVARCHAR) + '%'))
   AND (@Discount IS NULL OR (Discount  LIKE +'%'+ CAST(@Discount AS NVARCHAR) + '%'))
   AND (@Modified_Date IS NULL OR (Modified_Date LIKE +'%'+ CAST(@Modified_Date AS nvarchar)+ '%'))
END
GO
