USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[CommercialTaxMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[CommercialTaxMaster_Select]
GO
/****** Object:  StoredProcedure [dbo].[CommercialTaxMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[CommercialTaxMaster_Select]
	-- Add the parameters for the stored procedure here
	@CommercialTaxID AS INT,
	@AccountTitle AS NVARCHAR(200),
	@ShopSectionCode AS INT,
	@UnitPrice AS INT,
	@Percent AS DECIMAL(5,2),
	@Expire_SDate AS DATE,
	@Expire_EDate AS DATE
	
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  CommercialTaxID,AccountTitle,ShopSectionCode,UnitPrice,[Percent],
	Expire_SDate,
	Expire_EDate
	FROM CommercialTaxMaster
	
	WHERE  (@CommercialTaxID IS NULL OR (CommercialTaxID=@CommercialTaxID))
	AND   (@AccountTitle IS NULL OR (AccountTitle LIKE '%' + @AccountTitle + '%'))
	AND   (@ShopSectionCode IS NULL OR (ShopSectionCode =@ShopSectionCode))
	AND   (@UnitPrice IS NULL OR (UnitPrice=@UnitPrice))
	AND   (@Percent IS NULL OR ([Percent]=@Percent))
	AND   (@Expire_SDate IS NULL OR (Expire_SDate =@Expire_SDate))

	AND   (@Expire_EDate IS NULL OR (Expire_EDate=@Expire_EDate))
	AND  IsDeleted=0
	
END
GO
