USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[SalesCommissionMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[SalesCommissionMaster_Update]
GO
/****** Object:  StoredProcedure [dbo].[SalesCommissionMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SalesCommissionMaster_Update]
	-- Add the parameters for the stored procedure here
	@SalesCommissionID As INT,
	@AccountTitle As nvarchar(200),
	@ShopCode As int,
	@Percent As decimal(5, 2),
	@Expire_EDate AS DATE,
	@Expire_SDate AS DATE,
	@ModifiedBy As nvarchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE SalesCommissionMaster
	SET
			AccountTitle=@AccountTitle
			,ShopCode=@ShopCode
			,[Percent]=@Percent
			,Expire_SDate = @Expire_SDate
			,Expire_EDate = @Expire_EDate
			,ModifiedBy = @ModifiedBy
	WHERE SalesCommissionID=@SalesCommissionID
END
GO
