USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[ExportCSV2]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[ExportCSV2]
GO
/****** Object:  StoredProcedure [dbo].[ExportCSV2]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ExportCSV2]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
Update Uriage Set ReturnFees=0 where ReturnFees is Null 
Update Uriage Set Cod=0 where Cod is null
Update Uriage Set ShippingCost=0 where ShippingCost is null
	
 select 
  
 OrderNo as 受注番号,
 
 IM.BranchCode as 支店コード,

 B.BranchName as 支店名略称,

 B.StoreCategory as 店舗区分,

 B.Summary as 集計部門,

 CONVERT(char(10), Sales_Date,126) as 売上日,
 
 
 Case when (Select Sum (case when SalesCategory1 like N'%自転車%' then 1 else 0 end)) >0 then N'自転車含む' else N'自転車以外' end as 注文タイプ, 

 SUM(CASE WHEN OrderNo = OrderNo and SalesCategory1 = N'自転車' THEN Quantity ELSE 0 END) 自転車台数,
 
 Case When OrderNO = OrderNo  Then SUM(Amount) + MAX(ShippingCost) + MAX(cod) + MAX (ReturnFees)  End  合計金額,
 
 
 DeliveryCode 配送会社コード,
 
 ShippingCode 配送先県コード,
 
 PaymentCode 支払区分コード,


 
  Date as Date
 
 FROM Uriage IM INNER JOIN Branch B ON IM.BranchCode = B.BranchCode
 
 GROUP BY OrderNo, DeliveryCode,ShippingCode,PaymentCode, IM.BranchCode, Sales_Date,B.BranchName,B.StoreCategory,B.Summary, Date
 
 ORDER BY 売上日 DESC;

END
GO
