USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_Cost]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[InsertXML_Cost]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_Cost]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertXML_Cost] 
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @DocHandle int
	DECLARE @RowCnt int
	
	SET @RowCnt = 0
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (SaleDate date,BranchCode int,Amount decimal(18,5),ID int,OutsourcingID int,SalesCommissionID int,CommercialTaxID int,InsuranceID int,FixedCostID int,HolidayID int,QTY int,UnitPrice decimal(18,5),CostType varchar(50),FinFlag bit,Overwrite_Amt decimal(18,5),Category nvarchar(30))
    EXEC sp_xml_preparedocument @DocHandle OUTPUT 
    
    SET @RowCnt =( SELECT COUNT(*) FROM T_Sale where CostType = 'Fixed' AND FinFlag = 0 ) 
    
    DELETE T_Sale
    FROM T_Sale 
	INNER JOIN #temp
	ON T_Sale.SaleDate = #temp.SaleDate
	AND #temp.FixedCostID = T_Sale.FixedCostID
	AND #temp.Category = T_Sale.Category
	AND T_Sale.FinFlag = 0
	AND T_Sale.Overwrite_Amt = 0
 
    --DELETE FROM T_Sale WHERE SaleDate IN (SELECT SaleDate FROM #temp) AND FixedCostID IN (SELECT FixedCostID FROM #temp) AND CostType = 'Fixed' and FinFlag = 0 and Overwrite_Amt = 0 and Category IN (SELECT Category FROM #temp) 
    
    IF @RowCnt > 0 
		BEGIN
			DELETE #temp
			FROM #temp
			INNER JOIN T_Sale
			ON #temp.SaleDate = T_Sale.SaleDate
			AND #temp.FixedCostID = T_Sale.FixedCostID
			AND #temp.Category = T_Sale.Category
			AND T_Sale.FinFlag = 0
			AND T_Sale.Overwrite_Amt = 0
			--AND T_Sale.SaleDate >= CONVERT(DATE,DATEADD(mm, DATEDIFF(mm, 0, GETDATE()-1) - 1, 0),103)
    	END
	INSERT INTO T_Sale(SaleDate,BranchCode,Amount,ID,OutsourcingID,SalesCommissionID,CommercialTaxID,InsuranceID,FixedCostID,HolidayID,QTY,UnitPrice,CostType,FinFlag,Overwrite_Amt,CreatedDate,ModifiedDate,Category)
	SELECT SaleDate,BranchCode,Amount,ID,OutsourcingID,SalesCommissionID,CommercialTaxID,InsuranceID,FixedCostID,HolidayID,QTY,UnitPrice,CostType,FinFlag,Overwrite_Amt,GETDATE (),null,Category FROM #temp
	--END
    EXEC sp_xml_removedocument @DocHandle
  	
  	DROP TABLE #temp
END
GO
