USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_SiteCategory]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[InsertXML_SiteCategory]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_SiteCategory]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertXML_SiteCategory] 
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	TRUNCATE TABLE Site_Category
    -- Insert statements for procedure here
	DECLARE @DocHandle int
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (カテゴリID varchar(30),カテゴリ名 nvarchar(100))
    EXEC sp_xml_preparedocument @DocHandle OUTPUT

	UPDATE #temp 
	SET カテゴリID = REPLACE(カテゴリID,'''','') ,カテゴリ名 = REPLACE(カテゴリ名,'''','')

    INSERT INTO Site_Category(CategoryID,CategoryName )
	SELECT カテゴリID,カテゴリ名 FROM #temp
    EXEC sp_xml_removedocument @DocHandle
  	
  	DROP TABLE #temp
END

GO
