USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[GetVariableCost]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[GetVariableCost]
GO
/****** Object:  StoredProcedure [dbo].[GetVariableCost]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetVariableCost]
AS
BEGIN
SET NOCOUNT ON;
select CommercialTaxID Id,AccountTitle,'CommercialTax' CostType,Expire_SDate,Expire_EDate from CommercialTaxMaster where IsDeleted = 0
union all 
select InsuranceID Id,AccountTitle,'Insurance' CostType,Expire_SDate,Expire_EDate from InsuranceMaster where IsDeleted = 0
union all 
select OutsourcingID Id,AccountTitle,'Outsourcing' CostType,Expire_SDate,Expire_EDate from OutsourcingMaster where IsDeleted = 0
union all
select ID Id,AccountTitle,'PackingFare' CostType,Expire_SDate,Expire_EDate from PackingFareMaster where IsDeleted = 0
union all
select SalesCommissionID Id,AccountTitle,'SalesCommission' CostType,Expire_SDate,Expire_EDate from SalesCommissionMaster where IsDeleted = 0
END

GO
