USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_VariableCost]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[InsertXML_VariableCost]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_VariableCost]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertXML_VariableCost] 
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @DocHandle int
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (SaleDate date,BranchCode int,Amount decimal(18,5),ID int,OutsourcingID int,SalesCommissionID int,CommercialTaxID int,InsuranceID int,FixedCostID int,HolidayID int,QTY int,UnitPrice decimal(18,5),CostType varchar(50),FinFlag bit,Overwrite_Amt decimal(18,5),Category nvarchar(30))
    EXEC sp_xml_preparedocument @DocHandle OUTPUT 
    
    DELETE FROM T_Sale where FinFlag = 0 AND SaleDate IN (SELECT SaleDate FROM #temp) and CostType = 'Variable'
    	
    INSERT INTO T_Sale(SaleDate,BranchCode,Amount,ID,OutsourcingID,SalesCommissionID,CommercialTaxID,InsuranceID,FixedCostID,HolidayID,QTY,UnitPrice,CostType,FinFlag,Overwrite_Amt,CreatedDate,ModifiedDate,Category)
	SELECT SaleDate,BranchCode,Amount,ID,OutsourcingID,SalesCommissionID,CommercialTaxID,InsuranceID,FixedCostID,HolidayID,QTY,UnitPrice,CostType,FinFlag,Overwrite_Amt,GETDATE (),null,Category FROM #temp
    EXEC sp_xml_removedocument @DocHandle
  	
  	DROP TABLE #temp
END


GO
