USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 2/20/2019 12:19:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[PartNo] [varchar](50) NOT NULL,
	[Productname] [nvarchar](50) NULL,
	[BrandCode] [int] NULL,
	[CategoryID] [varchar](50) NULL,
	[Modified_Date] [datetime] NULL,
	[Honten_Category_ID] [varchar](50) NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[PartNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF_Item_Modified_Date]  DEFAULT (getdate()) FOR [Modified_Date]
GO
