USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_ItemMaster]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[InsertXML_ItemMaster]
GO
/****** Object:  StoredProcedure [dbo].[InsertXML_ItemMaster]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertXML_ItemMaster] 
	-- Add the parameters for the stored procedure here
	@xmlCsv AS XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--TRUNCATE TABLE ItemMaster
	--TRUNCATE TABLE Base_ItemMaster
    -- Insert statements for procedure here
	DECLARE @DocHandle int
	
	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
    WITH (売上日 date,受注番号 varchar(30),自社品番 varchar(30),単価 int,数量 int,標準原価 int,金額 int,クーポン int,値引き int,送料 int,消費税 int,総合計金額 varchar(10),店名 nvarchar(1000),代引手数料 int,使用ポイント int,付加ポイント int,
    支店コード varchar(10) ,キャンセル日 date, 返品手数料 int, 売上区分 nvarchar(100),移動平均原価 int,最終仕入原価 int, 支払方法コード int, 配送先県コード int,配送会社コード int, Date int )
    EXEC sp_xml_preparedocument @DocHandle OUTPUT

    UPDATE #temp SET 総合計金額 = NULL  where 総合計金額  = ''

    INSERT INTO ItemMaster(Sales_Date,OrderNo,PartNo,UnitPrice,Quantity,Cost,Amount,Coupon,Discount,ShippingCost,ConsumptionTax,TotalAmount,BranchName,Cod,UsagePoint,AdditionalPoint,BranchCode,Cancel_Date,ReturnFees,SalesCategory,AverageCost,PurchaseCost, PaymentCode, ShippingCode, DeliveryCode, Date) 
	SELECT 売上日,受注番号,自社品番,単価,数量,標準原価,金額,クーポン,値引き,送料,消費税,総合計金額,店名,代引手数料,使用ポイント,付加ポイント,支店コード,キャンセル日, 返品手数料,売上区分, 移動平均原価,最終仕入原価, 支払方法コード, 配送先県コード,配送会社コード, Date FROM #temp
   
 --   INSERT INTO Base_ItemMaster(Sales_Date,OrderNo,PartNo,UnitPrice,Quantity,Cost,Amount,Coupon,Discount,ShippingCost,ConsumptionTax,TotalAmount,BranchName,Cod,UsagePoint,AdditionalPoint,BranchCode,Cancel_Date,ReturnFees, SalesCategory,AverageCost,PurchaseCost, PaymentCode, ShippingCode, DeliveryCode, Date) 
	--SELECT 売上日,受注番号,自社品番,単価,数量,標準原価,金額,クーポン,値引き,送料,消費税,総合計金額,店名,代引手数料,使用ポイント,付加ポイント,支店コード,キャンセル日 ,返品手数料, 売上区分,移動平均原価,最終仕入原価,支払方法コード, 配送先県コード,配送会社コード , Date FROM #temp
 --   EXEC sp_xml_removedocument @DocHandle 
  	
  	DROP TABLE #temp
  	
  	
 
END

GO
