USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[OutsourcingMaster]    Script Date: 2/20/2019 12:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutsourcingMaster](
	[OutsourcingID] [int] IDENTITY(1,1) NOT NULL,
	[AccountTitle] [nvarchar](200) NOT NULL,
	[UnitPrice] [int] NULL,
	[Expire_SDate] [date] NOT NULL,
	[Expire_EDate] [date] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[ModifiedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_OutsourcingMaster] PRIMARY KEY CLUSTERED 
(
	[OutsourcingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OutsourcingMaster] ON 

INSERT [dbo].[OutsourcingMaster] ([OutsourcingID], [AccountTitle], [UnitPrice], [Expire_SDate], [Expire_EDate], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (1, N'外注作業費(変動)', 400, CAST(N'2015-01-01' AS Date), NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OutsourcingMaster] OFF
ALTER TABLE [dbo].[OutsourcingMaster] ADD  CONSTRAINT [DF_OutsourcingMaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
