USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[Tax_Master]    Script Date: 2/20/2019 12:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tax_Master](
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TaxRate] [numeric](3, 2) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Tax_Master] ([StartDate], [EndDate], [TaxRate]) VALUES (CAST(N'1997-04-01' AS Date), CAST(N'2014-03-31' AS Date), CAST(1.05 AS Numeric(3, 2)))
INSERT [dbo].[Tax_Master] ([StartDate], [EndDate], [TaxRate]) VALUES (CAST(N'2014-04-01' AS Date), CAST(N'2100-03-31' AS Date), CAST(1.08 AS Numeric(3, 2)))
