USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[HolidayMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[HolidayMaster_Select]
GO
/****** Object:  StoredProcedure [dbo].[HolidayMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[HolidayMaster_Select]
	-- Add the parameters for the stored procedure here
	@HolidayID AS INT,	
	@HolidayDate AS DATE,
	@HolidayName AS NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT HolidayID,HolidayDate,HolidayName		
	FROM HolidayMaster	
	WHERE (@HolidayID IS NULL OR (HolidayID=@HolidayID))
	AND		(@HolidayName IS NULL OR (HolidayName LIKE '%' + @HolidayName + '%'))
	AND		 (@HolidayDate IS NULL OR (HolidayDate=@HolidayDate))
	AND		IsDeleted=0
END
GO
