USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[SalesCommissionMaster]    Script Date: 2/20/2019 12:15:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesCommissionMaster](
	[SalesCommissionID] [int] IDENTITY(1,1) NOT NULL,
	[AccountTitle] [nvarchar](200) NOT NULL,
	[ShopCode] [int] NOT NULL,
	[Percent] [decimal](5, 2) NOT NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[Expire_SDate] [date] NULL,
	[Expire_EDate] [date] NULL,
 CONSTRAINT [PK_SalesCommissionMaster] PRIMARY KEY CLUSTERED 
(
	[SalesCommissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SalesCommissionMaster] ON 

INSERT [dbo].[SalesCommissionMaster] ([SalesCommissionID], [AccountTitle], [ShopCode], [Percent], [IsDeleted], [CreatedBy], [ModifiedBy], [Expire_SDate], [Expire_EDate]) VALUES (1, N'販売手数料（課税）', 16, CAST(0.08 AS Decimal(5, 2)), 0, NULL, NULL, CAST(N'2015-01-01' AS Date), NULL)
INSERT [dbo].[SalesCommissionMaster] ([SalesCommissionID], [AccountTitle], [ShopCode], [Percent], [IsDeleted], [CreatedBy], [ModifiedBy], [Expire_SDate], [Expire_EDate]) VALUES (2, N'販売手数料（課税）', 3, CAST(0.05 AS Decimal(5, 2)), 0, NULL, NULL, CAST(N'2015-01-01' AS Date), NULL)
INSERT [dbo].[SalesCommissionMaster] ([SalesCommissionID], [AccountTitle], [ShopCode], [Percent], [IsDeleted], [CreatedBy], [ModifiedBy], [Expire_SDate], [Expire_EDate]) VALUES (3, N'販売手数料（課税）', 2, CAST(0.04 AS Decimal(5, 2)), 0, NULL, NULL, CAST(N'2015-01-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[SalesCommissionMaster] OFF
ALTER TABLE [dbo].[SalesCommissionMaster] ADD  CONSTRAINT [DF_SalesCommissionMaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
