USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Item_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Item_Search]
GO
/****** Object:  StoredProcedure [dbo].[Item_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Item_Search]
		-- Add the parameters for the stored procedure here
	
	@PartNo varchar(30),
	@BrandCode int
AS
BEGIN
	
  SELECT *FROM Item 
  where 
   (@PartNo IS  NULL OR (PartNo LIKE '%' + @PartNo+ '%'))
   AND (@BrandCode IS  NULL OR (BrandCode LIKE +'%'+ CAST(@BrandCode AS NVARCHAR) + '%'))
 
END
GO
