USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[OverwriteActual]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[OverwriteActual]
GO
/****** Object:  StoredProcedure [dbo].[OverwriteActual]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OverwriteActual]
	@xmlCsv AS XML
AS 
BEGIN
	SET NOCOUNT ON;
	DECLARE @DocHandle int

	EXEC sp_xml_preparedocument @DocHandle OUTPUT, @xmlCsv
	
	SELECT * INTO #temp FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
  	WITH (SaleDate date,BranchCode int,Amount decimal(18,5),ID int,OutsourcingID int,SalesCommissionID int,CommercialTaxID int,InsuranceID int,FixedCostID int,HolidayID int,QTY int,UnitPrice decimal(18,5),CostType varchar(50),FinFlag bit,Overwrite_Amt decimal(18,5),Category nvarchar(30),AccountTitle nvarchar(200))
    EXEC sp_xml_preparedocument @DocHandle OUTPUT 
    
    SELECT * FROM #temp
    
    SELECT * INTO #tempPlan
    FROM (
		SELECT T.*,F.AccountTitle,F.ShopCategory FROM T_Sale T
		LEFT JOIN FixedCostMaster F
		ON T.FixedCostID = F.FixedCostID
		INNER JOIN #temp
		ON T.SaleDate = #temp.SaleDate
		AND T.Category = #temp.Category
		WHERE F.AccountTitle = #temp.AccountTitle		
    ) #tempData
    
    SELECT * FROM #tempPlan
    
    DELETE FROM T_Sale WHERE SaleID IN (SELECT #tempPlan.SaleID FROM #tempPlan)
    EXEC sp_xml_removedocument @DocHandle
  	
  	DROP TABLE #temp
  	DROP TABLE #tempPlan
  	END
GO
