USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Branch_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Branch_Update]
GO
/****** Object:  StoredProcedure [dbo].[Branch_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Branch_Update]
	-- Add the parameters for the stored procedure here
	@BranchCode int,
	@BranchName NVARCHAR(100),
	@BrandShortName  NVARCHAR(30),
	@StoreCategory   NVARCHAR(30),
	@Summary   NVARCHAR(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		UPDATE Branch  SET BranchName  = @BranchName,BrandShortName= @BrandShortName,
		StoreCategory=@StoreCategory,Summary=@Summary
		where BranchCode=@BranchCode
     
       
       
END

GO
