USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[HolidayMaster]    Script Date: 2/20/2019 12:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolidayMaster](
	[HolidayID] [int] IDENTITY(1,1) NOT NULL,
	[HolidayDate] [date] NOT NULL,
	[Description] [int] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[HolidayName] [nvarchar](200) NULL,
 CONSTRAINT [PK_HolidayMaster] PRIMARY KEY CLUSTERED 
(
	[HolidayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HolidayMaster] ON 

INSERT [dbo].[HolidayMaster] ([HolidayID], [HolidayDate], [Description], [IsDeleted], [CreatedBy], [ModifiedBy], [HolidayName]) VALUES (1, CAST(N'2018-01-01' AS Date), 1, 0, 1, NULL, NULL)
INSERT [dbo].[HolidayMaster] ([HolidayID], [HolidayDate], [Description], [IsDeleted], [CreatedBy], [ModifiedBy], [HolidayName]) VALUES (2, CAST(N'2018-01-02' AS Date), 1, 0, 1, NULL, NULL)
INSERT [dbo].[HolidayMaster] ([HolidayID], [HolidayDate], [Description], [IsDeleted], [CreatedBy], [ModifiedBy], [HolidayName]) VALUES (3, CAST(N'2018-01-03' AS Date), 1, 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HolidayMaster] OFF
ALTER TABLE [dbo].[HolidayMaster] ADD  CONSTRAINT [DF_HolidayMaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
