USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[FixedCostMaster_Insert]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[FixedCostMaster_Insert]
GO
/****** Object:  StoredProcedure [dbo].[FixedCostMaster_Insert]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FixedCostMaster_Insert]
	-- Add the parameters for the stored procedure here
	@AccountTitle As nvarchar(200),
	@ShopCategory As nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO FixedCostMaster(AccountTitle,ShopCategory)
	VALUES (@AccountTitle,@ShopCategory)
END
GO
