USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[ShopCategory_SelectAll]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[ShopCategory_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[ShopCategory_SelectAll]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ShopCategory_SelectAll] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    select distinct(temp.Summary) Shop,ID
	from (
		select *,ROW_NUMBER () OVER (PARTITION BY Summary ORDER BY StoreCategory ASC, Summary ) AS ID from Branch
		where Summary IS NOT NULL AND Summary <> ''
		 ) temp
	where temp.ID = 1
END


GO
