USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[PackingFareMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[PackingFareMaster_Select]
GO
/****** Object:  StoredProcedure [dbo].[PackingFareMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[PackingFareMaster_Select]
	-- Add the parameters for the stored procedure here
	@ID AS INT,
	@AccountTitle AS NVARCHAR(200),
	@OrderType AS BIT,
	@DeliveryCompanyCode AS INT,
	@RegionCode AS INT,
	@UnitPrice AS INT,
	@Expire_SDate AS DATE,
	@Expire_EDate AS DATE
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  [ID]
			,[AccountTitle]
			,[OrderType]
			,[DeliveryCompanyCode]
			,[RegionCode]
			,[UnitPrice]
			,Expire_SDate
			,Expire_EDate
			
	FROM PackingFareMaster
	
	WHERE  (@ID IS NULL OR (ID=@ID))
	AND   (@AccountTitle IS NULL OR (AccountTitle LIKE '%' + @AccountTitle + '%'))
	AND   (@OrderType IS NULL OR (OrderType =@OrderType))
	AND   (@DeliveryCompanyCode IS NULL OR (DeliveryCompanyCode=@DeliveryCompanyCode))
	AND   (@RegionCode IS NULL OR (RegionCode=@RegionCode))
	AND	  (@UnitPrice IS NULL OR (UnitPrice=@UnitPrice))
	AND   (@Expire_SDate  IS NULL OR (Expire_SDate=@Expire_SDate))
	AND   (@Expire_EDate  IS NULL OR (Expire_EDate=@Expire_EDate))
	AND IsDeleted=0
END
GO
