USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage7]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Stage7]
GO
/****** Object:  StoredProcedure [dbo].[Stage7]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage7]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Uriage
	WHERE BranchCode NOT IN(SELECT BranchCode FROM Branch)
	
	Select Sales_Date, OrderNo, PartNo, Site_Category_URL, CategoryName, BrandUrl, UnitPrice, Quantity, Cost,Amount, ShippingCost , Branch.BranchCode, branch.BranchName, Branch.StoreCategory,Branch.Summary 
	from Uriage,Branch 
	where Uriage.BranchCode = Branch.BranchCode;
	
END

GO
