USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[ExportCSV1]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[ExportCSV1]
GO
/****** Object:  StoredProcedure [dbo].[ExportCSV1]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ExportCSV1]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select  
	
	OrderNo as 受注番号, IM.PartNo as 自社品番,I.Productname as 商品名略称, UnitPrice as 単価, Quantity as 数量, Cost as 原価, Amount as 金額, CONVERT(char(10), Sales_Date,126) as 売上日, SalesCategory1 as 売上区分1, SalesCategory2 as 売上区分2, IM.BranchCode as 支店コード ,
	B.BranchName as 支店名略称,B.StoreCategory as 店舗区分, B.Summary as 集計部門,
	PaymentCode as 支払区分コード, ShippingCost as 送料, DeliveryCode as 配送先都道府県コード,ShippingCode as 配送会社コード, Cod as 代引手数料, UsagePoint as 使用ポイント, Coupon as クーポン,Discount as 値引き,I.BrandCode as ブランドコード ,Br.BrandName as ブランド名 , Date
	FROM Uriage IM
	LEFT JOIN Branch B ON IM.BranchCode = B.BranchCode
	--INNER JOIN Item I ON IM.BrandCode = I.BrandCode
	LEFT JOIN Item I ON IM.PartNo=I.PartNo
	LEFT JOIN Brand Br ON Br.BrandCode =IM.BrandCode
	--, Branch,Item
	--Where ItemMaster.BranchCode=Item.BrandCode AND
	--ItemMaster.BranchCode = Branch.BranchCode
	ORDER BY Sales_Date DESC;
	
END



GO
