USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage8]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Stage8]
GO
/****** Object:  StoredProcedure [dbo].[Stage8]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage8]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result SETs from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	UPDATE Uriage
	SET SalesCategory1 = N'パーツ（自転車同時購入）' ,SalesCategory2 ='パーツ（自転車同時購入）'
	WHERE OrderNo IN(
	SELECT * FROM
	(SELECT DISTINCT OrderNo FROM Uriage
	WHERE Site_Category_URL Like 'pa%') AS t1 WHERE OrderNo IN(
	select OrderNo from Uriage 
	Where Site_Category_URL like 'bicycle%'
	OR Site_Category_URL LIKE 'citycycle%'
	OR Site_Category_URL LIKE 'electric%'
	OR Site_Category_URL LIKE 'kids%'
	Group By OrderNo))


    select OrderNo INTO #tt1 from Uriage 
	Where Site_Category_URL like 'bicycle%'
	OR Site_Category_URL LIKE 'citycycle%'
	OR Site_Category_URL LIKE 'electric%'
	OR Site_Category_URL LIKE 'kids%'
	Group By OrderNo

	UPDATE Uriage
	SET SalesCategory1 = N'パーツ（単体）' , SalesCategory2 = N'パーツ（単体）'
	WHERE OrderNo IN(SELECT DISTINCT OrderNo FROM Uriage
	WHERE Site_Category_URL Like 'pa%' AND OrderNo NOT IN(SELECT OrderNo FROM #tt1))
	
	select * from dbo.#tt1
	drop table #tt1
	
	
	--select OrderNO,Site_Category_URL, SalesCategory1, SalesCategory2 from ItemMaster;

	--UPDATE ItemMaster
	--SET SalesCategory1 = N'自転車'
	--WHERE Site_Category_URL LIKE 'bicycle%' OR Site_Category_URL LIKE 'citycycle%' OR Site_Category_URL LIKE 'electric%' OR Site_Category_URL LIKE 'kids%'

	--UPDATE ItemMaster
	--SET SalesCategory2 = N'電動自転車'
	--WHERE Site_Category_URL LIKE 'electric%'

	--UPDATE ItemMaster
	--SET SalesCategory2 = N'メーカー車 '
	--WHERE Site_Category_URL LIKE 'citycycle%'  AND BrandUrl LIKE 'bridgestone%'

	--UPDATE ItemMaster
	--SET SalesCategory2 = N'一般車'
	--WHERE Site_Category_URL NOT LIKE 'citycycle%' AND BrandUrl NOT LIKE 'bridgestone%'

	--UPDATE ItemMaster
	--SET SalesCategory2 = N'子供用自転車'
	--WHERE Site_Category_URL LIKE 'kids%' OR Site_Category_URL LIKE 'bicycle/kids%'

	--UPDATE ItemMaster
	--SET SalesCategory2 = N'スポーツ車 '
	--WHERE Site_Category_URL LIKE 'kids%' OR Site_Category_URL NOT LIKE 'bicycle/kids%'

	--UPDATE ItemMaster
	--SET SalesCategory1 = N'修理・工賃',SalesCategory2 = N'修理・工賃'
	--WHERE Site_Category_URL LIKE 'maintenance%' 

	--UPDATE ItemMaster
	--SET SalesCategory1 = N'オプション'
	--WHERE Site_Category_URL LIKE 'option%' OR Site_Category_URL LIKE 'service%'

	--UPDATE ItemMaster
	--SET SalesCategory2 = N'防犯登録'
	--WHERE Site_Category_URL LIKE 'option/bouhan%' OR Site_Category_URL LIKE 'service/bouhan%'

	--UPDATE ItemMaster
	--SET SalesCategory2 = N'盗難補償'
	--WHERE Site_Category_URL LIKE 'option/tounan%' OR Site_Category_URL LIKE 'service/tounan%'

	--UPDATE ItemMaster
	--SET SalesCategory2 = N'TSマーク'
	--WHERE Site_Category_URL LIKE 'option/tsmark%' OR Site_Category_URL LIKE 'service/tsmark%'

	
END

GO
