USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[PackingFareMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[PackingFareMaster_Update]
GO
/****** Object:  StoredProcedure [dbo].[PackingFareMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PackingFareMaster_Update]
	-- Add the parameters for the stored procedure here
	@ID AS INT,
	@AccountTitle AS NVARCHAR(200),
	@OrderType AS BIT,
	@DeliveryCompanyCode AS INT,
	@RegionCode AS INT,
	@UnitPrice AS INT,
	@Expire_SDate AS DATE,
	@Expire_EDate AS DATE,
	@ModifiedBy AS nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE PackingFareMaster
	SET
			AccountTitle=@AccountTitle
			,OrderType=@OrderType
			,DeliveryCompanyCode=@DeliveryCompanyCode
			,RegionCode=@RegionCode
			,UnitPrice=@UnitPrice
			,Expire_SDate=@Expire_SDate
			,Expire_EDate=@Expire_EDate
			,ModifiedBy = @ModifiedBy
			
	WHERE ID=@ID
END
GO
