USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[DuplicateBranchCheck]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[DuplicateBranchCheck]
GO
/****** Object:  StoredProcedure [dbo].[DuplicateBranchCheck]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DuplicateBranchCheck]
	@BranchCode AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT COUNT(*) FROM Branch WHERE BranchCode = @BranchCode
END
GO
