USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_User_Select_by]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Qbei_User_Select_by]
GO
/****** Object:  StoredProcedure [dbo].[Qbei_User_Select_by]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Qbei_User_Select_by] 
	-- Add the parameters for the stored procedure here
	@UserName VARCHAR(20),
	@Password VARCHAR(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--SELECT Qbei_user_id,UserName,Password from Qbei_User where 
	--(@UserName IS NULL OR (UserName = @UserName))
	--AND (@Password IS NULL OR (Password = @Password)) and Qbei_User.Flag <>1
	select d.ID as Qbei_user_id, d.UID as UserName , d.Password as Password from [User_Management].dbo.[Common_User] as d where
	(@UserName IS NULL OR (d.UID = @UserName))
	AND (@Password IS NULL OR (d.Password = @Password)) and  d.Is_Deleted <>1 and d.Uriage =1 and d.restricted_user <> 1

END

GO
