USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[PackingFareMaster]    Script Date: 2/20/2019 12:15:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingFareMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountTitle] [nvarchar](200) NOT NULL,
	[OrderType] [bit] NOT NULL,
	[DeliveryCompanyCode] [int] NOT NULL,
	[RegionCode] [int] NOT NULL,
	[UnitPrice] [int] NULL,
	[Expire_SDate] [date] NOT NULL,
	[Expire_EDate] [date] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[ModifiedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_PackingFareMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PackingFareMaster] ON 

INSERT [dbo].[PackingFareMaster] ([ID], [AccountTitle], [OrderType], [DeliveryCompanyCode], [RegionCode], [UnitPrice], [Expire_SDate], [Expire_EDate], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (1, N'荷造運賃（混在）', 1, 17, 1, 5000, CAST(N'2015-01-01' AS Date), NULL, 0, NULL, NULL)
INSERT [dbo].[PackingFareMaster] ([ID], [AccountTitle], [OrderType], [DeliveryCompanyCode], [RegionCode], [UnitPrice], [Expire_SDate], [Expire_EDate], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (2, N'荷造運賃（混在）', 1, 17, 2, 5000, CAST(N'2015-01-01' AS Date), NULL, 0, NULL, NULL)
INSERT [dbo].[PackingFareMaster] ([ID], [AccountTitle], [OrderType], [DeliveryCompanyCode], [RegionCode], [UnitPrice], [Expire_SDate], [Expire_EDate], [IsDeleted], [CreatedBy], [ModifiedBy]) VALUES (3, N'荷造運賃（混在）', 1, 17, 3, 5000, CAST(N'2015-01-01' AS Date), NULL, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PackingFareMaster] OFF
ALTER TABLE [dbo].[PackingFareMaster] ADD  CONSTRAINT [DF_PackingFareMaster_OrderType]  DEFAULT ((0)) FOR [OrderType]
GO
ALTER TABLE [dbo].[PackingFareMaster] ADD  CONSTRAINT [DF_PackingFareMaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:????? 0:?????' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PackingFareMaster', @level2type=N'COLUMN',@level2name=N'OrderType'
GO
