USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[SalesCommissionMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[SalesCommissionMaster_Select]
GO
/****** Object:  StoredProcedure [dbo].[SalesCommissionMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[SalesCommissionMaster_Select]
	-- Add the parameters for the stored procedure here
	@SalesCommissionID AS INT,
	@AccountTitle AS NVARCHAR(200),
	@ShopCode AS INT,
	@Percent AS DECIMAL(5,2),
	@StartDate AS date,
	@EndDate AS date
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  SalesCommissionID,
			AccountTitle,
			ShopCode,
			[Percent],
			Expire_SDate,
			Expire_EDate
	FROM SalesCommissionMaster
	
	WHERE  (@SalesCommissionID IS NULL OR (SalesCommissionID=@SalesCommissionID))
	AND   (@AccountTitle IS NULL OR (AccountTitle LIKE '%' + @AccountTitle + '%'))
	AND   (@ShopCode IS NULL OR (ShopCode =@ShopCode))
	AND   (@Percent IS NULL OR ([Percent]=@Percent))
	AND (@StartDate IS NULL OR (Expire_SDate = @StartDate))
	AND (@EndDate IS NULL OR (Expire_EDate = @EndDate))
	AND	  IsDeleted=0
	
	END
GO
