USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage10]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Stage10]
GO
/****** Object:  StoredProcedure [dbo].[Stage10]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage10] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    
 --   Update IM
	--set IM.UnitPrice = temp.UnitPrice, IM.Amount = temp.Amount, IM.ShippingCost = temp.ShippingCost, IM.ReturnFees = temp.ReturnFees, IM.DeliveryCharge = temp.DeliveryCharge, IM.UsagePoint = temp.UsagePoint, IM.Coupon = temp.Coupon
	--From dbo.[ItemMaster] IM
	--inner join 
	--(select  M.UnitPrice / t.TaxRate,M.Amount/t.TaxRate,M.ShippingCost/t.TaxRate, M.ReturnFees/t.TaxRate, M.DeliveryCharge/t.TaxRate,M.UsagePoint /t.TaxRate,M.Coupon/ t.TaxRate 
	--As UnitPrice,Amount, ShippingCost, ReturnFees, DeliveryCharge, UsagePoint, Coupon ,M.OrderNo 
	--from Tax_Master t inner join ItemMaster M on  M.Sales_Date BETWEEN t.StartDate AND t.EndDate)
	--as temp
	--on temp.OrderNo = IM.OrderNo and (IM.SalesCategory2 != N'防犯登録' OR IM.SalesCategory2 IS NULL)
	Update Uriage
    Set UnitPrice = UnitPrice/temp.TaxRate , Amount = Amount/temp.TaxRate, ShippingCost = ShippingCost/temp.TaxRate, ReturnFees = ReturnFees/temp.TaxRate, DeliveryCharge = DeliveryCharge/temp.TaxRate, UsagePoint = UsagePoint /temp.TaxRate, Coupon = Coupon/ temp.TaxRate
    from Uriage IM
	Inner join
	(select (IM.OrderNo) as OrderNo, (t.TaxRate) as TaxRate from Uriage IM 
	INNER JOIN Tax_Master t ON im.Sales_Date BETWEEN t.StartDate AND t.EndDate ) as temp 
	on temp.OrderNo = IM.OrderNo 
	AND (IM.SalesCategory2 != N'防犯登録' )
	
	
	
END

GO
