USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[CommercialTaxMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[CommercialTaxMaster_Update]
GO
/****** Object:  StoredProcedure [dbo].[CommercialTaxMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CommercialTaxMaster_Update]
	-- Add the parameters for the stored procedure here
	@ID AS INT,
	@AccountTitle AS NVARCHAR(200),
	@ShopSectionCode AS INT,
	@UnitPrice AS INT,
	@Percent AS DECIMAL(5,2),
	@Expire_SDate AS DATE,
	@Expire_EDate AS DATE,
	@ModifiedBy AS nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE CommercialTaxMaster
	SET
			AccountTitle=@AccountTitle
			,ShopSectionCode=@ShopSectionCode
			,UnitPrice=@UnitPrice
			,[Percent]=@Percent
			,Expire_SDate=@Expire_SDate
			,Expire_EDate=@Expire_EDate
            ,ModifiedBy = @ModifiedBy
			
	WHERE CommercialTaxID=@ID
END
GO
