USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Delete_User]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Delete_User]
GO
/****** Object:  StoredProcedure [dbo].[Delete_User]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Delete_User]
	-- Add the parameters for the stored procedure here
	@UserID as tinyint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update  Qbei_User  set Qbei_User.Flag=1  where Qbei_User.Qbei_User_ID=@UserID
END
GO
