USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[SelectSyainCost]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[SelectSyainCost]
GO
/****** Object:  StoredProcedure [dbo].[SelectSyainCost]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SelectSyainCost]
AS 
BEGIN
	SELECT T_Sale.* FROM T_Sale 
	INNER JOIN FixedCostMaster
	ON T_Sale.FixedCostID = FixedCostMaster.FixedCostID 
	AND FixedCostMaster.AccountTitle LIKE N'%社員給与%'
	--AND Overwrite_Amt > 0
	AND T_Sale.ModifiedDate <> ''
	AND SaleDate < CONVERT(date,GETDATE(),103)
END

GO
