USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[FixedCostMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[FixedCostMaster_Select]
GO
/****** Object:  StoredProcedure [dbo].[FixedCostMaster_Select]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[FixedCostMaster_Select]
	-- Add the parameters for the stored procedure here
	@FixedCostID AS INT,	
	@ShopCategory AS NVARCHAR(50),
	@AccountTitle AS NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT FixedCostID,AccountTitle,ShopCategory		
	FROM FixedCostMaster	
	WHERE (@FixedCostID IS NULL OR (FixedCostID=@FixedCostID))
	AND	  (@AccountTitle IS NULL OR (AccountTitle LIKE '%' + @AccountTitle + '%'))
	AND	  (@ShopCategory IS NULL OR (ShopCategory LIKE '%' + @ShopCategory + '%'))
	AND	  IsDeleted=0
END
GO
