USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[DocumentUnit_SelectAll]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[DocumentUnit_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[DocumentUnit_SelectAll]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DocumentUnit_SelectAll] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here	
	SELECT T1.*, T2.BranchName 
	FROM UriageData T1 LEFT JOIN ItemMaster T2
	ON T1.ID = T2.ID
	AND T1.Sales_Date = T2.Sales_Date
	AND T1.OrderNo = T2.OrderNo 
END

GO
