USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[T_Sale]    Script Date: 2/20/2019 12:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Sale](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[SaleDate] [date] NOT NULL,
	[BranchCode] [int] NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[ID] [int] NULL,
	[OutsourcingID] [int] NULL,
	[SalesCommissionID] [int] NULL,
	[CommercialTaxID] [int] NULL,
	[InsuranceID] [int] NULL,
	[FixedCostID] [int] NULL,
	[HolidayID] [int] NULL,
	[QTY] [int] NOT NULL,
	[UnitPrice] [decimal](18, 5) NOT NULL,
	[CostType] [varchar](50) NOT NULL,
	[FinFlag] [bit] NOT NULL,
	[Overwrite_Amt] [decimal](18, 5) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Category] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_T_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Sale] ADD  CONSTRAINT [DF__T_Sale__Category__787EE5A0]  DEFAULT ('') FOR [Category]
GO
