USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[FixedCostMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[FixedCostMaster_Update]
GO
/****** Object:  StoredProcedure [dbo].[FixedCostMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FixedCostMaster_Update]
	-- Add the parameters for the stored procedure here
	@FixedCostID As int,
	@AccountTitle As nvarchar(200),
	@ShopCategory As nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE FixedCostMaster
	SET AccountTitle =  @AccountTitle,
	ShopCategory = @ShopCategory
	WHERE FixedCostID = @FixedCostID
	
END
GO
