USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage6]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Stage6]
GO
/****** Object:  StoredProcedure [dbo].[Stage6]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage6]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Uriage
	SET CategoryID = I.Honten_Category_ID,
	BrandCode = I.BrandCode
	FROM Uriage IM
	INNER JOIN Item I ON IM.PartNo = I.PartNo

	UPDATE Uriage
	SET CategoryName = SC.CategoryName
	FROM Uriage IM
	INNER JOIN Site_Category SC ON SC.CategoryID = IM.CategoryID

	UPDATE Uriage 
	SET Site_Category_URL = CH.Site_Category_URL
	FROM Uriage IM
	INNER JOIN Category_Honten CH ON IM.CategoryID= CH.Category_ID

	UPDATE Uriage
	SET BrandUrl = B.BrandUrl
	FROM Uriage IM
	INNER JOIN Brand B ON IM.BrandCode = B.BrandCode

END

GO
