USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage5]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Stage5]
GO
/****** Object:  StoredProcedure [dbo].[Stage5]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage5] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

delete from Uriage

insert into Uriage( ID, Sales_Date, OrderNo, PartNo, UnitPrice, Quantity, Cost, Amount, Coupon, Discount, ShippingCost, 
                                      ConsumptionTax, TotalAmount, ReturnFees, BranchName, Cod, UsagePoint, AdditionalPoint, CategoryID, CategoryName, 
                                      Site_Category_URL, BrandCode, BrandUrl, BranchCode, SalesCategory1, SalesCategory2, DeliveryCharge, 
                                      Cancel_Date, Modified_Date, SalesCategory, AverageCost, PurchaseCost, PaymentCode, ShippingCode, DeliveryCode, 
                                      Date)
									  select  UriageMeisai.ID, UriageMeisai.Sales_Date, UriageMeisai.OrderNo, PartNo, UnitPrice, Quantity, Cost, Amount, Coupon, Discount, ShippingCost, 
                                      ConsumptionTax, TotalAmount, ReturnFees, BranchName, Cod, UsagePoint, AdditionalPoint, CategoryID, CategoryName, 
                                      Site_Category_URL, BrandCode, BrandUrl, BranchCode, SalesCategory1, SalesCategory2, DeliveryCharge, 
                                      Cancel_Date, Modified_Date, SalesCategory, AverageCost, PurchaseCost, PaymentCode, ShippingCode, DeliveryCode, 
                                      Date
									  from UriageMeisai left outer join UriageData on UriageData.ID=UriageMeisai.ID
	
	
	
END

GO
