USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage4]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Stage4]
GO
/****** Object:  StoredProcedure [dbo].[Stage4]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage4]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Update dbo.DetailItemUnit 
 --   set Quantity = NULL , Cost = NULL
 --   where UnitPrice<=0
    
 --   Update dbo.ItemMaster 
 --   set Quantity = NULL , Cost = NULL
 --   where UnitPrice<=0
    
  
    Update dbo.UriageMeisai
    set Quantity = NULL, AverageCost = NULL, Cost = NULL, PurchaseCost = NULL
    Where SalesCategory = N'値引' OR	SalesCategory = N'値引返品'
  
  
END

GO
