USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage8b]    Script Date: 2/20/2019 11:34:38 AM ******/
DROP PROCEDURE [dbo].[Stage8b]
GO
/****** Object:  StoredProcedure [dbo].[Stage8b]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage8b]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    
	UPDATE Uriage
	SET SalesCategory1 = N'自転車'
	WHERE Site_Category_URL LIKE 'bicycle%' OR Site_Category_URL LIKE 'citycycle%' OR Site_Category_URL LIKE 'electric%' OR Site_Category_URL LIKE 'kids%'
	
	UPDATE Uriage
	SET SalesCategory2 = N'電動自転車'
	WHERE Site_Category_URL LIKE 'electric%'
	
	UPDATE Uriage
	SET SalesCategory2 = N'メーカー車 '
	WHERE Site_Category_URL LIKE 'citycycle%'  AND BrandUrl LIKE 'bridgestone%'
	
	UPDATE Uriage
	SET SalesCategory2 = N'一般車'
	WHERE Site_Category_URL LIKE 'citycycle%' AND BrandUrl NOT LIKE 'bridgestone%'
	
	UPDATE Uriage
	SET SalesCategory2 = N'子供用自転車'
	WHERE Site_Category_URL LIKE 'kids%' OR Site_Category_URL LIKE 'bicycle/kids%'
	
	UPDATE Uriage
	SET SalesCategory2 = N'スポーツ車 '
	WHERE Site_Category_URL LIKE 'bicycle%' AND Site_Category_URL NOT LIKE 'bicycle/kids%'

END

GO
