USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[UserList_Search]    Script Date: 2/20/2019 11:34:38 AM ******/
DROP PROCEDURE [dbo].[UserList_Search]
GO
/****** Object:  StoredProcedure [dbo].[UserList_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UserList_Search]
		-- Add the parameters for the stored procedure here
	@ModifiedDate datetime,
	@UserID int,
	@Password  varchar(8),
	@UserName varchar(20)
AS
BEGIN
	

	
  SELECT *FROM Qbei_User 
  where 
   (@ModifiedDate IS  NULL OR (Modified_Date LIKE +'%'+ CAST(@ModifiedDate AS NVARCHAR) + '%'))
   AND (@UserID IS  NULL OR (Qbei_User_ID LIKE  +'%'+ CAST(@UserID AS NVARCHAR) + '%'))
   AND (@Password IS  NULL  OR (Password LIKE '%' + @Password+ '%'))
   AND  (@UserName IS  NULL  OR (UserName LIKE  '%' + @UserName  + '%'))
   and Qbei_User.Flag <>1
END
GO
