USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[HolidayMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[HolidayMaster_Update]
GO
/****** Object:  StoredProcedure [dbo].[HolidayMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[HolidayMaster_Update]
	-- Add the parameters for the stored procedure here
	@HolidayID As int,
	@HolidayDate As Date,
	@HolidayName As nvarchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE HolidayMaster
	SET HolidayDate = @HolidayDate,
	HolidayName = @HolidayName
	WHERE HolidayID = @HolidayID
END
GO
