USE [Qbei_Uriage]
GO
/****** Object:  Table [dbo].[Site_Category]    Script Date: 2/20/2019 12:19:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site_Category](
	[CategoryID] [varchar](30) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[Modified_Date] [datetime] NULL,
 CONSTRAINT [PK_Site_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Site_Category] ADD  CONSTRAINT [DF_Site_Category_Modified_Date]  DEFAULT (getdate()) FOR [Modified_Date]
GO
