USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[DetailItemUnit_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[DetailItemUnit_Search]
GO
/****** Object:  StoredProcedure [dbo].[DetailItemUnit_Search]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DetailItemUnit_Search]
		-- Add the parameters for the stored procedure here
	
	@SaleDate date,
	@OrderNo varchar(20),
	@PartNo  varchar(30),
	@UnitPrice  int,
	@Quantity  int,
	@Cost  int,
	@Amount int,
	@Coupon  int,
	@Discount int,
	@BranchName  nvarchar(100),
	@ModifiedDate  date
AS
BEGIN
	
  SELECT *FROM UriageMeisai 
  where 
  (@SaleDate IS  NULL OR (CONVERT(char(10), Sales_Date, 126) = @SaleDate))
   AND (@OrderNo IS  NULL OR (OrderNo LIKE '%'+@OrderNo + '%'))
   AND (@PartNo IS  NULL OR (PartNo LIKE '%'+@PartNo + '%'))
   AND (@UnitPrice IS  NULL OR (UnitPrice LIKE +'%'+ CAST(@UnitPrice AS NVARCHAR) + '%'))
   AND (@Quantity IS  NULL OR (Quantity  LIKE +'%'+ CAST(@Quantity AS NVARCHAR) + '%'))
   AND (@Cost IS  NULL OR (Cost LIKE +'%'+ CAST(@Cost AS NVARCHAR) + '%'))
    AND (@Amount IS  NULL OR (Amount LIKE +'%'+ CAST(@Amount AS NVARCHAR) + '%'))
   AND (@Coupon IS  NULL OR (Coupon LIKE +'%'+ CAST(@Coupon AS NVARCHAR) + '%'))
   AND (@Discount IS  NULL OR (Discount LIKE +'%'+ CAST(@Discount AS NVARCHAR) + '%'))
   AND (@BranchName IS  NULL OR (BranchName LIKE '%'+@BranchName + '%'))
    AND (@ModifiedDate IS  NULL OR (CONVERT(char(10), Modified_Date, 126) = @ModifiedDate))
     
 
END
GO
