USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage8d]    Script Date: 2/20/2019 11:34:38 AM ******/
DROP PROCEDURE [dbo].[Stage8d]
GO
/****** Object:  StoredProcedure [dbo].[Stage8d]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage8d] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE Uriage
	SET SalesCategory1 = N'オプション'
	WHERE Site_Category_URL LIKE 'option%' OR Site_Category_URL LIKE 'service%'

	UPDATE Uriage
	SET SalesCategory2 = N'防犯登録'
	WHERE Site_Category_URL LIKE 'option/bouhan%' OR Site_Category_URL LIKE 'service/bouhan%'

	UPDATE Uriage
	SET SalesCategory2 = N'盗難補償'
	WHERE Site_Category_URL LIKE 'option/tounan%' OR Site_Category_URL LIKE 'service/tounan%'

	UPDATE Uriage
	SET SalesCategory2 = N'TSマーク'
	WHERE Site_Category_URL LIKE 'option/tsmark%' OR Site_Category_URL LIKE 'service/tsmark%'

END


GO
