USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[WorkingDaysMaster_Update]    Script Date: 2/20/2019 11:34:38 AM ******/
DROP PROCEDURE [dbo].[WorkingDaysMaster_Update]
GO
/****** Object:  StoredProcedure [dbo].[WorkingDaysMaster_Update]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WorkingDaysMaster_Update]
	-- Add the parameters for the stored procedure here
	@WorkingDaysID As int,
	@YM As nvarchar(6),
	@ShopName As nvarchar(300),
	@WorkingDays AS INT
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Kintai.dbo.M_WorkingDays
	SET YearMonth =  @YM,
	ShopName = @ShopName,
	WorkingDays = @WorkingDays,
	ModifiedDate = GETDATE()
	WHERE WorkingDays_ID = @WorkingDaysID
	
END
GO
