USE [Qbei_Uriage]
GO
/****** Object:  StoredProcedure [dbo].[Stage8_Test]    Script Date: 2/20/2019 11:34:39 AM ******/
DROP PROCEDURE [dbo].[Stage8_Test]
GO
/****** Object:  StoredProcedure [dbo].[Stage8_Test]    Script Date: 2/20/2019 11:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stage8_Test]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result SETs from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

select * into #tempUriage from dbo.Uriage
    -- Insert statements for procedure here
	select * into #temp1 from (select OrderNo from #tempUriage   
	Where Site_Category_URL like 'bicycle%'
	OR Site_Category_URL LIKE 'citycycle%'
	OR Site_Category_URL LIKE 'electric%'
	OR Site_Category_URL LIKE 'kids%'
	Group By OrderNo ) uriage

	select * into #temp2 from (SELECT DISTINCT OrderNo FROM #tempUriage   
	WHERE Site_Category_URL Like 'pa%') pa

	UPDATE dbo.Uriage
	SET SalesCategory1 = N'パーツ（自転車同時購入）' ,SalesCategory2 =N'パーツ（自転車同時購入）'
	WHERE OrderNo IN(
	SELECT * FROM #temp2 
	WHERE OrderNo IN(
	select OrderNo from #temp1 ))


	UPDATE dbo.Uriage
	SET SalesCategory1 = N'パーツ（単体）' , SalesCategory2 = N'パーツ（単体）'
	WHERE OrderNo IN(SELECT OrderNo FROM #temp2 
	WHERE OrderNo NOT IN(SELECT OrderNo FROM #temp1 ))

	drop table #tempUriage 
	drop table #temp1 
	drop table #temp2 
	
	
	
END

GO
