<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ConsoleWriteLinePath" value="C:\Qbei_Uriage\ConsoleWriteLineTofile\"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Qbei_Uriage" connectionString="Data Source=WIN-SLTEP5OTBR0\SQLEXPRESS;Initial Catalog=Qbei_Uriage;User ID=Qbei;Password=dW7MmEtnL;" providerName="System.Data.SqlClient" />-->
    <add name="Qbei_Uriage" connectionString="Data Source=133.167.121.63, 1433;Initial Catalog=Qbei_Uriage;Persist Security Info=True;User ID=sa;Password=manager@0;Connection Timeout=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>